JWT WeakKeyException

@mdoering, did anything change with JWT authentication recently? colplus-docker.backend is crashing with a WeakKeyException. I tried changing the JWT key to match the one in colplus-deploy/prod/config-ws.yaml and that didn't fix it either. It does look like you changed something [yesterday](https://github.com/Sp2000/colplus-backend/blame/48c748a6e1abd5b8b987f4ff91a4d416ea4ff89b/colplus-ws/src/main/java/org/col/dw/auth/JwtCodec.java), but maybe the [deploy/prod/config-ws.yaml wasn't updated yet](https://github.com/Sp2000/colplus-deploy/blame/master/prod/config-ws.yml).

```
io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 152 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys#secretKeyFor(SignatureAlgorithm) method to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.
        at io.jsonwebtoken.security.Keys.hmacShaKeyFor(Keys.java:81)
        at org.col.dw.auth.JwtCodec.<init>(JwtCodec.java:25)
        at org.col.dw.auth.AuthBundle.run(AuthBundle.java:21)
        at org.col.dw.auth.AuthBundle.run(AuthBundle.java:12)
        at io.dropwizard.setup.Bootstrap.run(Bootstrap.java:200)
        at io.dropwizard.cli.EnvironmentCommand.run(EnvironmentCommand.java:42)
        at io.dropwizard.cli.ConfiguredCommand.run(ConfiguredCommand.java:87)
        at io.dropwizard.cli.Cli.run(Cli.java:78)
        at io.dropwizard.Application.run(Application.java:93)
        at org.col.WsServer.main(WsServer.java:75)
```

Nevermind, I just made up a ridiculously long JWT key which fixed it.

Yes, I did change it and the upgrade of the jwt library now demands [long enough keys](https://github.com/jwtk/jjwt#signature-algorithms-keys), we use simple HMAC secret keys